<section class="about-me">
  <ul class="about-me__list">
    <li class="about-me__list__item ac">
      <div class="about-me__list__item__header ac-trigger">
        <h6 class="about-me__list__item__header__title">ABOUT ME</h6>
        <button type="button" class="about-me__list__item__header__trigger">
          <svg width="24px" height="24px" class="about-me__list__item__header__trigger__icon">
            <use href="./img/sprite.svg#icon-down-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="about-me__list__item__content ac-panel">
        <p class="about-me__list__item__content__first-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
          understanding of different programming languages ​​and technologies, always ready to improve my skills. I always
          follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of
          analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
        <p class="about-me__list__item__content__second-text">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas
          and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
          situations, while maintaining a high quality of work.
          I am always looking for opportunities for
          self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I
          have a strong understanding of various programming languages, frameworks and architectural concepts that allow
          me to create efficient and scalable software.</p>
      </div>
    </li>
    <li  class="about-me__list__item ac">
      <div class="about-me__list__item__header ac-trigger">
        <h6 class="about-me__list__item__header__title">ROLE</h6>
        <button type="button" class="about-me__list__item__header__trigger">
          <svg width="24px" height="24px" class="about-me__list__item__header__trigger__icon">
            <use href="../img/sprite.svg#icon-down-arrow"></use>
          </svg>
        </button>
      </div>
            <div class="about-me__list__item__content ac-panel">
              <ul class="role__link">
                <li class="item">Frontend development</li>
                <li class="item">HeadlessCMS,Wordpress</li>
                <li class="item">Blender(enjoy)</li>
              </ul>
            </div>
    </li>
    <li class="about-me__list__item ac">
      <div class="about-me__list__item__header ac-trigger">
        <h6 class="about-me__list__item__header__title">ABOUT ME</h6>
        <button type="button" class="about-me__list__item__header__trigger">
          <svg width="24px" height="24px" class="about-me__list__item__header__trigger__icon">
            <use href="../img/sprite.svg#icon-down-arrow"></use>
          </svg>
        </button>
      </div>
            <div class="about-me__list__item__content ac-panel">
              <ul class="education__link">
                <li class="item">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                <li class="item">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                <li class="item">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
              </ul>
            </div>
    </li>
  </ul>
</section>