
<section class="covers">
   <h2 class="covers__title visually-hidden">Covers</h2>
   <div class="covers__content">
      <ul class="covers__list covers__list_line-1">
         <li class="covers__item covers__item_bg1">Project 1</li>
         <li class="covers__item covers__item_bg2">Project 2</li>
         <li class="covers__item covers__item_bg3">Project 3</li>
         <li class="covers__item covers__item_bg4">Project 4</li>
         <li class="covers__item covers__item_bg5">Project 5</li>
         <li class="covers__item covers__item_bg6">Project 6</li>
         <li class="covers__item covers__item_bg7">Project 7</li>
         <li class="covers__item covers__item_bg8">Project 8</li>
      </ul>
      <ul class="covers__list covers__list_line-2">
         <li class="covers__item covers__item_bg1">Project 1</li>
         <li class="covers__item covers__item_bg2">Project 2</li>
         <li class="covers__item covers__item_bg3">Project 3</li>
         <li class="covers__item covers__item_bg4">Project 4</li>
         <li class="covers__item covers__item_bg5">Project 5</li>
         <li class="covers__item covers__item_bg6">Project 6</li>
         <li class="covers__item covers__item_bg7">Project 7</li>
         <li class="covers__item covers__item_bg8">Project 8</li>
      </ul>
      <ul class="covers__list covers__list_line-3">
         <li class="covers__item covers__item_bg1">Project 1</li>
         <li class="covers__item covers__item_bg2">Project 2</li>
         <li class="covers__item covers__item_bg3">Project 3</li>
         <li class="covers__item covers__item_bg4">Project 4</li>
         <li class="covers__item covers__item_bg5">Project 5</li>
         <li class="covers__item covers__item_bg6">Project 6</li>
         <li class="covers__item covers__item_bg7">Project 7</li>
         <li class="covers__item covers__item_bg8">Project 8</li>
      </ul>
   </div>
</section>
