<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu-container">
        <button id="menu-close" class="mobile-menu-close" aria-label="Close menu">
            <svg width="32" height="32">
                <use href="./img/sprite.svg#icon-x"></use>
            </svg>
        </button>
        <div class="mobile-menu-content">
            <ul class="mobile-menu-list">
                <li><a class="mobile-menu-item" href="#about-me">About me</a></li>
                <li><a class="mobile-menu-item" href="#benefits">Benefits</a></li>
                <li><a class="mobile-menu-item" href="#projects">Projects</a></li>
                <li><a class="mobile-menu-item" href="#faq">FAQ</a></li>
            </ul>
            <a class="mobile-menu-order-btn button-accent-color" href="#work-together"
                aria-label="Order the project link">Order the
                project</a>
        </div>
    </div>
</div>

