<section class="projects">
    <div class="container">
        <h2 class="section-title">Projects</h2>

        <div class="swiper-demo">
            <ul class="swiper-wrapper-demo projects-swiper-wrapper">
                <li class="swiper-slide-demo projects-swiper-slide">
                    <div class="swiper-slide-description">
                        <ul class="technologies-list">
                            <li class="tech-list-item">#react</li>
                            <li class="tech-list-item">#js</li>
                            <li class="tech-list-item">#node js</li>
                            <li class="tech-list-item">#git</li>
                        </ul>
                        <div class="project-description">
                            <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <a href="https://www.youtube.com/?gl=UA" class="project-link" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <img srcset="./img/projects/mobile-project-1@2x.jpg 2x"
                        src="./img/projects/mobile-project-1.jpg" 
                        alt="Read journey application">
                    </div>
                </li>
                <li class="swiper-slide-demo projects-swiper-slide">
                    <div class="swiper-slide-description">
                        <ul class="technologies-list">
                            <li class="tech-list-item">#react</li>
                            <li class="tech-list-item">#js</li>
                            <li class="tech-list-item">#node js</li>
                            <li class="tech-list-item">#git</li>
                        </ul>
                        <div class="project-description">
                            <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <a href="https://www.youtube.com/?gl=UA" class="project-link" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <img srcset="./img/projects/mobile-project-2@2x.jpg 2x"
                        src="../img/projects/mobile-project-2.jpg" 
                        alt="PetLove application">
                    </div>
                </li>
                <li class="swiper-slide-demo projects-swiper-slide">
                    <div class="swiper-slide-description">
                        <ul class="technologies-list">
                            <li class="tech-list-item">#react</li>
                            <li class="tech-list-item">#js</li>
                            <li class="tech-list-item">#node js</li>
                            <li class="tech-list-item">#git</li>
                        </ul>
                        <div class="project-description">
                            <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <a href="https://www.youtube.com/?gl=UA" class="project-link" target="_blank">See project</a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <img srcset="./img/projects/mobile-project-3@2x.jpg 2x"
                        src="../img/projects/mobile-project-3.jpg" 
                        alt="VocabBuilder application">
                    </div>
                </li>
            </ul>
            
            <div class="buttons-wrapper"> 
                <div class="swiper-button-prev arrow-btn">
                    <svg class="arrow-prev" width="24px" height="24px">
                        <use href="./img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-next arrow-btn">
                    <svg class="arrow-next" width="24px" height="24px">
                        <use href="./img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </div>
            </div>

        </div>
    </div>
</section>