/* -------- Reset styles ------- */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* -------- / Reset styles ------ */

.covers {
   position: relative;
   /*  */
   max-width: 375px;
   margin-left: auto;
   margin-right: auto;

}

.covers__content {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 100vh;
   overflow: hidden;
   background: url('../img/covers/decor.svg') -100px -80px / 400px no-repeat, url('../img/covers/decor.svg') 150px 300px / 400px no-repeat;
   background-color: #1c1d20;
}

.covers__list {
   height: 163px;
   display: flex;
   margin-bottom: 58px;

   transform: rotate(16deg);
}

.covers__list_line-2 {
   transform: rotate(16deg) translateX(7%);
}

.covers__list_line-3 {
   transform: rotate(16deg) translateX(14%);
}

.covers__item_bg1 {
   background-image: url(../img/covers/01-project.webp);
}

.covers__item_bg2 {
   background-image: url(../img/covers/02-project.webp);
}

.covers__item_bg3 {
   background-image: url(../img/covers/03-project.webp);
}

.covers__item_bg4 {
   background-image: url(../img/covers/04-project.webp);
}

.covers__item_bg5 {
   background-image: url(../img/covers/05-project.webp);
}

.covers__item_bg6 {
   background-image: url(../img/covers/06-project.webp);
}

.covers__item_bg7 {
   background-image: url(../img/covers/07-project.webp);
}

.covers__item_bg8 {
   background-image: url(../img/covers/08-project.webp);
}


@media only screen and (min-resolution: 192dpi) {
   .covers__item_bg1 {
      background-image: url(../img/covers/01-project@2x.webp);
   }

   .covers__item_bg2 {
      background-image: url(../img/covers/02-project@2x.webp);
   }

   .covers__item_bg3 {
      background-image: url(../img/covers/03-project@2x.webp);
   }

   .covers__item_bg4 {
      background-image: url(../img/covers/04-project@2x.webp);
   }

   .covers__item_bg5 {
      background-image: url(../img/covers/05-project@2x.webp);
   }

   .covers__item_bg6 {
      background-image: url(../img/covers/06-project@2x.webp);
   }

   .covers__item_bg7 {
      background-image: url(../img/covers/07-project@2x.webp);
   }

   .covers__item_bg8 {
      background-image: url(../img/covers/08-project@2x.webp);
   }
}

.covers__item {
   flex-shrink: 0;
   flex-basis: 283px;
   background-size: cover;
   color: transparent;
   margin-right: 20px;
   margin-left: 20px;
   
   animation-name: move;
   animation-duration: 50s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: normal;
   animation-fill-mode: forwards;
}

@keyframes move {
   from {
      transform: translateX(0%);
   }

   to {
      transform: translateX(-800%);
   }
}

/* ============= /MOBILE ================ */



/* ============ TABLET =================== */
@media only screen and (min-width: 768px) {
   .covers {
      max-width: 768px;
   }

   .covers__content {
      background: url('../img/covers/decor.svg') 0 0 / 400px no-repeat, url('../img/covers/decor.svg') 100% 100% / 400px no-repeat;
      background-color: #1c1d20;
      background-size: 360px auto;
   }

   .covers__list {
      height: 314px;
      margin-bottom: 115px;
   }

   .covers__item {
      flex-basis: 544px;
   }
}

/* ============ /TABLET =================== */



/* ============ DESKTOP =================== */
@media only screen and (min-width: 1440px) {
   .covers {
      max-width: 1400px;
   }

   .covers__content {
      background: url(../img/covers/decor.svg) -10% 15% no-repeat,
         url(../img/covers/decor.svg) 33% -25% no-repeat,
         url(../img/covers/decor.svg) 110% 130% no-repeat;
      background-color: #1c1d20;
      background-size: 360px auto;
   }
}

/* ============ /DESKTOP ================== */