* {
   box-sizing: border-box;
}

.covers {
   max-width: 375px;
   margin-left: auto;
   margin-right: auto;
}

.covers__content {
   width: 100%;
   overflow: hidden;
   background: url('../img/covers/decor.svg') -100px -80px / 400px no-repeat, url('../img/covers/decor.svg') 150px 300px / 400px no-repeat;
   background-color: #1c1d20;
}

.covers__list {
   height: 163px;
   display: flex;
   transform: rotate(16deg);
}

.covers__list:not(:last-child) {
   margin-bottom: 40px;
}

.covers__list_line-2 {
   flex-direction: row-reverse;
   transform: rotate(16deg);
}

.covers__list_line-3 {
   transform: rotate(16deg);
}

/* --- */
.covers__list_line-3 .covers__item_bg1 {
   order: 8;
}

.covers__list_line-3 .covers__item_bg2 {
   order: 7;
}

.covers__list_line-3 .covers__item_bg3 {
   order: 6;
}

.covers__list_line-3 .covers__item_bg4 {
   order: 5;
}

.covers__list_line-3 .covers__item_bg5 {
   order: 4;
}

.covers__list_line-3 .covers__item_bg6 {
   order: 3;
}

.covers__list_line-3 .covers__item_bg7 {
   order: 2;
}

.covers__list_line-3 .covers__item_bg8 {
   order: 1;
}

/* ---- */
.covers__item_bg1 {
   background-image: url(../img/covers/01-project.webp);
}

.covers__item_bg2 {
   background-image: url(../img/covers/02-project.webp);
}

.covers__item_bg3 {
   background-image: url(../img/covers/03-project.webp);
}

.covers__item_bg4 {
   background-image: url(../img/covers/04-project.webp);
}

.covers__item_bg5 {
   background-image: url(../img/covers/05-project.webp);
}

.covers__item_bg6 {
   background-image: url(../img/covers/06-project.webp);
}

.covers__item_bg7 {
   background-image: url(../img/covers/07-project.webp);
}

.covers__item_bg8 {
   background-image: url(../img/covers/08-project.webp);
}

/* ----- */

@media only screen and (min-resolution: 192dpi) {
   .covers__item_bg1 {
      background-image: url(../img/covers/01-project@2x.webp);
   }

   .covers__item_bg2 {
      background-image: url(../img/covers/02-project@2x.webp);
   }

   .covers__item_bg3 {
      background-image: url(../img/covers/03-project@2x.webp);
   }

   .covers__item_bg4 {
      background-image: url(../img/covers/04-project@2x.webp);
   }

   .covers__item_bg5 {
      background-image: url(../img/covers/05-project@2x.webp);
   }

   .covers__item_bg6 {
      background-image: url(../img/covers/06-project@2x.webp);
   }

   .covers__item_bg7 {
      background-image: url(../img/covers/07-project@2x.webp);
   }

   .covers__item_bg8 {
      background-image: url(../img/covers/08-project@2x.webp);
   }
}


.covers__item {
   flex-shrink: 0;
   flex-basis: 283px;
   background-size: cover;
   color: transparent;
   margin-right: 20px;
   margin-left: 20px;

   animation-duration: 50s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-fill-mode: none;
}

.covers__list_line-1 .covers__item,
.covers__list_line-3 .covers__item {
   animation-name: move-left;
}

.covers__list_line-2 .covers__item {
   animation-name: move-right;
}

@keyframes move-left {
   from {
      transform: translateX(100%);
   }

   to {
      transform: translateX(-700%);
   }
}

@keyframes move-right {
   from {
      transform: translateX(-100%);
   }

   to {
      transform: translateX(700%);
   }
}

/* ============= /MOBILE ================ */



/* ============ TABLET =================== */
@media only screen and (min-width: 768px) {
   .covers {
      max-width: 768px;
   }

   .covers__content {
      background: url('../img/covers/decor.svg') 0 0 / 400px no-repeat, url('../img/covers/decor.svg') 100% 100% / 400px no-repeat;
      background-size: 360px auto;
      background-color: #1c1d20;
   }

   .covers__list {
      height: 314px;
   }

   .covers__item {
      flex-basis: 544px;
   }
}

/* ============ /TABLET =================== */



/* ============ DESKTOP =================== */
@media only screen and (min-width: 1440px) {
   .covers {
      max-width: 1440px;
   }

   .covers__content {
      background: url(../img/covers/decor.svg) -6% 15% no-repeat,
         url(../img/covers/decor.svg) 33% -15% no-repeat,
         url(../img/covers/decor.svg) 109% 111% no-repeat;
      background-size: 360px auto;
      background-color: #1c1d20;
   }
}

/* ============ /DESKTOP ================== */