html {
   scroll-behavior: smooth;
}

body {
   font-family: "Inter Tight", sans-serif;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   color: #fafafa;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* Container ---------------------- */
.container {
   max-width: 767px;
   padding-left: 16px;
   padding-right: 16px;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (min-width: 768px) {
   .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
   }
}

@media only screen and (min-width: 1440px) {
   .container {
      max-width: 1440px;
   }
}

/* /Container --------------------- */



/* Section-title -------------------- */

.section-title {
   font-weight: 600;
   text-transform: uppercase;
   color: rgba(250, 250, 250, 0.4);
   text-align: left;
}

/* /Section-title ------------------- */



/* Section-paddings --------------- */
.about-me,
.benefits,
.projects,
.faq,
.covers,
.reviews {
   padding-top: 32px;
   padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {

   .about-me,
   .benefits,
   .projects,
   .faq,
   .covers,
   .reviews {
      padding-top: 48px;
      padding-bottom: 48px;
   }

}

@media only screen and (min-width: 1400px) {

   .about-me,
   .benefits,
   .projects,
   .faq,
   .covers,
   .reviews {
      padding-top: 82px;
      padding-bottom: 82px;
   }

}

/* ---------------- /Section-paddings */



/* Button-accent-color ----------------------*/
.button-accent-color {
   font-family: "Inter Tight", sans-serif;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   color: #fafafa;
   text-align: center;

   display: inline-block;
   background-color: #ed3b44;
   border-radius: 60px;
   padding: 13px 10px;
   min-width: 141px;
   height: 45px;
   transition: background-color 250ms ease;
}

.button-accent-color:hover,
.button-accent-color:focus {
   background-color: #e0373f;
}

@media only screen and (min-width: 768px) {
   .button-accent-color {
      min-width: 177px;
      height: 55px;
   }
}
/* /Button-accent-color ---------------------*/