.projects-swiper-slide{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    margin-bottom: 32px;
    overflow: hidden;
}

.swiper-slide-description{
    background-color: #FAFAFA;
    padding: 32px;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.technologies-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
}

.tech-list-item{
    border: 1px, solid, rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    color:#1C1D20;
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-title{
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #1c1d20;
}

.image-wrapper{
    background-color: #242527;
    width: 100%;
    height: 100%;
    padding: 100px 16px;
}

.buttons-wrapper{
    display: flex;
    gap: 12px;
    justify-content: center;
}

.arrow-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
}

.arrow-btn:disabled{
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.arrow-prev-svg{
    transform: rotateY(180deg);
}

@media only screen and (min-width: 768px) {

    .swiper-slide-description {
        padding: 64px;
        height: 566px;
    }

    .tech-list-item {
        padding: 18px;
    }

    .project-title{
        font-size: 44px;
        line-height: 1;
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        padding: 120px 45px;
    }

    .buttons-wrapper{
        gap: 20px;
    }

    .arrow-btn{
        width: 68px;
        height: 68px;
        padding: 18px;
    }
}

@media only screen and (min-width: 1440px){

    .projects-swiper-slide {
        flex-direction: row;
        /* авто стилі додають display: block; тому не працюють флекси */
        width: 1376px;
        max-height: 625px;
    }

    .image-wrapper{
        border-radius: 0 24px 24px 0;
        width: 688px;
        height: 625px;
        padding: 120px 37px;
    }

    .swiper-slide-description{
        width: 688px;
        height: 625px;
    }
}
